#search {
  font-size: 20px;
  padding: 5px 10px;
  outline: none;
  width: 50%;
  margin: 50px 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 50px;
  row-gap: 100px;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit); */
}

#card {
  width: 20%;
  height: 100%;
  border-radius: 0 0 20px 20px;
  transition: all 0.5s ease-out;
}

#card:hover {
  transform: translate(0, -10px);
}

@media (max-width: 800px) {
  #container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 50px;
    row-gap: 100px;
  }

  #card {
    width: 80%;
  }

  #search {
    width: 60%;
  }
}
